.App {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  }
  .u-section{
    width: 400px;
    color: #111111;
    background-color: #e0e5eb;
    border-radius: 15px !important;
  }
  .u-container-layout{
    padding: 50px 30px;
    
  }
  .formControl {
    margin-bottom: 10px;
  }
  label {
    display: flex;
    margin-bottom: 6px;
  }
  input[type="text"],input[type="password"],input[type="email"] , select{
    width: 100%;
    border: none;
    padding: 6px;
    border-radius: 8px;
  }
  input:focus{
    outline: 2px solid #f66f24;
  }
  input[type="radio"]{
    margin-right: 3px;
  }
  input + label{
    display:inline;
    margin-right: 15px;
  }
  ::placeholder {
    color: #D1D1D1;
  }
  button {
    border: none;
    width: 100%;
    margin-top: 20px;
    color: #ffffff !important;
    background-color: #f66f24 ;
    padding: 10px 30px;
    font-size: 1.25rem;
    border-radius: 8px;
    cursor: pointer;
  }
  button:hover{
    background-color: #000 ;
  }
  
  .error{
    color: red;
    font-size: 12px;
  }
  
  button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }